<nav>
  <ul>
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li>
      <a routerLink="/about">About</a>
    </li>
    <li>
      <a routerLink="/exo">Exo</a>
    </li>
    <li>
      <a routerLink="/exo/exo01">Timer</a>
    </li>
    <li>
      <a routerLink="/demo">Demo</a>
    </li>
    <li>
      <a routerLink="/demo/bindings01">Binding</a>
    </li>
    <li>
      <a routerLink="/demo/demoPipe">Pipe</a>
    </li>
    <li>
      <a routerLink="/exo/chronometre">Chronometre</a>
    </li>
    <li>
      <a routerLink="/demo/demoDirective">Directives</a>
    </li>
  </ul>
</nav>
