:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #115471;
  height: 100%;
  padding: 1rem 0.5rem;
  width: 10rem;

  UL {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1rem;

    li {
      margin: 2rem;
      border: 10px #FFFFF2;

      a {
        color: #41D3BD;
      }
    }


  }
}


